target/
.idea/
server/libraries
server/versions
server/cache
server/logs
server/plugins
server/version_history.json
server/world_nether
server/world_the_end
server/.console_history
server/banned-ips.json
server/banned-players.json
server/commands.yml
server/help.yml
server/ops.json
server/paper.yml-README.txt
server/permissions.yml
server/spigot.yml
server/usercache.json
server/whitelist.json
server/world/playerdata
server/world/stats
server/world/advancements
server/world/entities
server/world/datapacks